<h1>Search</h1>
<div id="custom-templates">
  <input class="frag" type="text" placeholder="Select User"  data-autocomplete="tagsinput">
</div>

<script>
$('.frag').tagsinput({
    'autocomplete_url': '/autocomplete_typeahead_name',
    'delimiter': ',',   // Or a string with a single delimiter. Ex: ';'
    'width': 'auto'
});
</script>